<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="Content/css/style.css" rel="stylesheet" />
    <script language="JavaScript" src="Scripts/jquery-1.8.2.js"></script>
  </head>

<body style="background:url(images/topbg.gif) repeat-x;">
    @RenderBody()
    @RenderSection("scripts", required: false)

    <font style="font-size:40pt">讯格售后综合平台</font>

    <div class="topright">
        <ul>

            <li><a href="login.html" target="_parent">退出</a></li>
        </ul>

        <div class="user" hidden="hidden">
            <span id="showUser">admin</span>
        </div>

    </div>
    </font>


    <div class="lefttop"><span></span>南京市旅游信息系统</div>

    <dl class="leftmenu">



        <dd>
            <div class="title">
                <span><img src="" /></span>系统设置
            </div>
            <ul class="menuson">
                <li><cite></cite><a href="" target="rightFrame" id="">设定预算单位</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">设定预算单位分组</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">账套设置</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">操作员管理</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">修改登录口令</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">系统日志管理</a><i></i></li>


            </ul>
        </dd>

        <dd>
            <div class="title">
                <span><img src="" /></span>基础信息设置
            </div>
            <ul class="menuson">
                <li><cite></cite><a id="">设定预算单位</a><i></i></li>
                <li><cite></cite><a>设定预算单位分组</a><i></i></li>
                <li><cite></cite><a>账套设置</a><i></i></li>
                <li><cite></cite><a>默认季度预算占比设置</a><i></i></li>

            </ul>
        </dd>

        <dd>
            <div class="title">
                <span><img src="" /></span>预算编制
            </div>
            <ul class="menuson">
                <li><cite></cite><a href="right.html" target="rightFrame" id="">基础表项目分类</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">基础表项目设置</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">公司预算项关联部门预算</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">项目和县份预算项目</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">基站费用预算表</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">基站专用预算表</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">房屋租赁费预算表</a><i></i></li>

            </ul>
        </dd>
        <dd>
            <div class="title">
                <span><img src="" /></span>预算查询
            </div>
            <ul class="menuson">
                <li><cite></cite><a href="" target="rightFrame" id="">公司年度预算核算</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">部门年度预算核算</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">县分年度预算核算</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">公司活动预算查询</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">部门活动预算查询</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">县分活动预算查询</a><i></i></li>


            </ul>
        </dd>

        <dd>
            <div class="title">
                <span><img src="" /></span>明细账核对和调整
            </div>

        </dd>

        <dd>
            <div class="title">
                <span><img src="" /></span>预算控制
            </div>
            <ul class="menuson">
                <li><cite></cite><a href="" target="rightFrame" id="">公司预警条件设置</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">部门预算预警条件设置</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">县分预警条件设置</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">公司预算实时预警</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">部门预算实时预警</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">县分预算实时预警</a><i></i></li>


            </ul>
        </dd>

        <dd>
            <div class="title">
                <span><img src="" /></span>预算分析
            </div>
            <ul class="menuson">
                <li><cite></cite><a href="" target="rightFrame" id="">公司指标预算完成总表</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">公司付现成本分析</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">公司收入指标完成情况</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">部门指标预算完成总表</a><i></i></li>
                <li><cite></cite><a href="" target="rightFrame">县分指标预算完成总表</a><i></i></li>


            </ul>
        </dd>

        <dd>
            <div class="title">
                <span><img src="" /></span>台账管理
            </div>

        </dd>
        <dd>
            <div class="title">
                <span><img src="" /></span>营业报表管理
            </div>

        </dd>

    </dl>

</body>

        </html>
